In [1]:
from pathlib import Path
import csv

In [2]:
filepath = Path("../Resources/accounting.csv")

In [3]:
salaries = []

In [5]:
with open(filepath,"r") as file:
    print(type(file))
    text = file.read()
    print(text)

<class '_io.TextIOWrapper'>
First Name,Last Name,SSN,Salary
Tina,Fleming,619-16-7988,75000
Erica,Shah,164-51-7615,40000
Paula,Ortiz,051-83-3290,120000
James,Hendricks,776-83-2884,90000
Lauren,King,197-94-2398,60000
David,Cowan,252-92-1832,35000
Andrew,Burton,296-23-6842,150000
Julian,Baker,337-40-7543,75000
Scott,Castro,399-46-5595,50000
Billy,Rodriguez,014-18-2503,65000
Darrell,Leblanc,005-82-7918,40000
David,Hammond,561-17-6312,90000

In [17]:
with open(filepath,"r") as file:
    csvreader=csv.reader(file, delimiter=",")
    header = next(csvreader)
    print(header)
    print('............................................')
    for row in csvreader:
        print (row[3])
        salaries.append(int(row[3]))

['First Name', 'Last Name', 'SSN', 'Salary']
............................................
75000
40000
120000
90000
60000
35000
150000
75000
50000
65000
40000
90000

In [18]:
salaries

['75000',
 '40000',
 '120000',
 '90000',
 '60000',
 '35000',
 '150000',
 '75000',
 '50000',
 '65000',
 '40000',
 '90000',
 75000,
 40000,
 120000,
 90000,
 60000,
 35000,
 150000,
 75000,
 50000,
 65000,
 40000,
 90000]