In [1]:
#basic data types: strings, integeras, floats, booleans
#creating None data type
subject = None
type(subject)

NoneType

In [2]:
subject = "Programmers"

In [3]:
fn="Joseph"
ln="Hagemann"

In [4]:
#Concatenating Strings
#Does not work with string and nunmber
full_name=fn + " " + ln

In [5]:
print(full_name)

Joseph Hagemann

In [6]:
full_name = f"{fn}---{ln}"
print(full_name)

Joseph---Hagemann

In [7]:
birth_year = 1815
death_year = 1852
age_at_death = death_year - birth_year
print(age_at_death)

37

In [8]:
print(f'{full_name} died at the age of {age_at_death}')

Joseph---Hagemann died at the age of 37

In [9]:
print('{} died at the age of {}'.format(full_name,age_at_death))

Joseph---Hagemann died at the age of 37

In [10]:
farm_animals = ["cow","horse","pig","chicken","sheep"]

In [11]:
if farm_animals[0] == "Gidzilla":
    print("RAWR!")
elif farm_animals[0] == "Mothra":
    print("Whoosh")
else:
    print("Godzilla and Mothra are not farm animals")

Godzilla and Mothra are not farm animals

In [12]:
budget = 5000
rent = 1500
utilities = 150
food = 250
transportation = 350
computer = 350

In [13]:
expenses = rent+utilities+food+transportation+computer

In [14]:
if expenses>budget:
    print("I'm in trouble")
    computer = 1000
else:
    print("I'm within budget")

I'm within budget

In [15]:
my_name=input("What is your name?")

What is your name? Joey

In [18]:
my_name

'Joey'

In [19]:
yrs_exp = input("How many years have you worked in data?")
yrs_exp = float(yrs_exp)

How many years have you worked in data? 8

In [20]:
type(yrs_exp)

float

In [21]:
print(yrs_exp)

8.0

In [22]:
farm_animals

['cow', 'horse', 'pig', 'chicken', 'sheep']

In [24]:
sounds = []
for animal in farm_animals:
    sound = input(f'the {animal} goes...')
    sounds.append(sound)

the cow goes... moo
the horse goes... neigh
the pig goes... oink
the chicken goes... cluck
the sheep goes... baaa

In [25]:
sounds

['moo', 'neigh', 'oink', 'cluck', 'baaa']

In [28]:
#lists
list_1 = ['a', 'b', 'c']
list_1[0]

'a'

In [30]:
my_dict={'name':'Joseph'}
list_1.append(my_dict)

In [31]:
list_1

['a', 'b', 'c', {'name': 'Joseph'}]

In [32]:
my_city = {"Name":"Tampa", "State": "Florida", "Population":"2000000"}
my_city["Population"]

'2000000'

In [33]:
my_city[69] = "Test"

In [34]:
my_city

{'Name': 'Tampa', 'State': 'Florida', 'Population': '2000000', 69: 'Test'}

In [35]:
my_city["beach town"] = "yes"

In [36]:
my_city

{'Name': 'Tampa',
 'State': 'Florida',
 'Population': '2000000',
 69: 'Test',
 'beach town': 'yes'}

In [37]:
def print_my_city(key):
    value = my_city[key]
    print(f"The value of this key {key} is {value}")

In [38]:
print_my_city("State")

The value of this key State is Florida

In [39]:
farm_animals

['cow', 'horse', 'pig', 'chicken', 'sheep']

In [40]:
for animal in farm_animals:
    print(animal)

cow
horse
pig
chicken
sheep

In [49]:
for animal in range(len(farm_animals)-1):
    print(f"I have a {farm_animals[animal]}, next up is {farm_animals[animal+1]}")

I have a cow, next up is horse
I have a horse, next up is pig
I have a pig, next up is chicken
I have a chicken, next up is sheep

In [62]:
def cube_number(x):
    output = x**3
    #x *x *x
    return output

In [64]:
cube_99=cube_number(99)

In [65]:
cube_99

970299